<div class="body">
	<div class="container">
		<div class="row">
			<%= render "users/userinfo", user:current_user, book:@book %>

			<div class="col-xs-9">
				<h2>Books</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Opinion</th>
						</tr>
					</thead>
					<tbody>
						<% @Books.each do |book| %>
						<tr>
							<td><%= link_to book.title, book_path(book) %></td>
							<td><%= book.opinion %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>